# npm package folder
node_modules/

# gedit files
*~

# webpack build-folder
dist/

# npm debug log
npm-debug.log

# environment variable file
.env

# VSCode folder thingy
.vscode

# NYC coverage
.nyc_output
coverage/