body {
	background-color: white;
}
.main-container {
  /*position: absolute;
  z-index: -1;*/
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 150px;
}

.flashmessage-container {
  position: fixed;
  bottom: 15px;
  right: 5px;
  width: 130px;
}

.flashmessage-item {
}

.upload-box {
  min-height: 100px;
  min-width: 100px;
  border-width: 2px;
  border-color: #666;
  border-style: dashed;
  border-radius: 5px;
}

.upload-p {
  margin: 10px !important;
}

.m-top {
  margin-top: 30px;
}

.m-bot {
  margin-bottom: 15px;
}

.m-right {
  margin-right: 15px;
}

.m-left {
  margin-left: 15px;
}

.fancy-header {
  font-family: 'Oxygen', sans-serif;
  margin: 10px !important;
  font-weight: 500 !important;
  font-size: 2.25rem !important;
}

/* Hack for making the default font-size bearable to look at */
.ui.header {
  font-weight: 400 !important;
}

#sign{
	text-align:right;
	margin-right: 3cm;
}

a.icon-link {
  display: block;
  height: 100%;
  width: 100%;
  pointer-events: all;
}
